{% extends 'base.html' %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}

<div class="page-header">
    <h2>
        <img src="{% static 'images/icon-protection.png' %}" class="icon-big"> Политика конфиденциальности
    </h2>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="rules">

            <p>Этот документ объясняет, как используются и собираются ваши личные данные, когда вы посещаете сайт brain arena.</p>

            <p>При использовании браузера, для посещения сайта brain arena, более подробная информация может быть отправлена вашим браузером на сайт brain arena. Информация, которая может быть отправленна включает следующее:</p>

            <ul>
            <li><strong>IP-адрес</strong>
                - это код из 4 цифр от 0 до 255, сгруппированые вместе с помощью точек (что-то вроде aa.бб.цц.дд, где aa,бб,цц и дд - числа упомянутые выше). IP обычно связан с одним компьютером, подключенным к сети Интернет. Однако современные технологии (прокси-серверы и т.д.) сделали возможным назначить одним IP-адресом группу компьютеров, которые подключенны к сети Интернет. Также возможно отправить другой IP адрес, отличный от вашего фактического адреса (используя адрес прокси-сервера и т.д.).
            <li><strong>ID UA (агент пользователя)</strong>
                - Представляет собой ряд символов, спечифичный браузеру, который вы использовали. На основании этого ID кто-то может догадатся, если вы пользуетесь последней версии Internet Explorer или нет. Кроме того, вместе с ID идентификации браузера, другие детали могут быть также направлены, в том числе ваша операционная система, URL предварительно посещенной страницы и т.д..
            <li><strong>Куки</strong>
                - эти тексты сохраненные нашим сайтом на вашем жестком диске. Вы также можете быть в состоянии настроить браузер, чтобы запретить использование куки, или требовать вашего подтверждения для каждой операции связанная с куки. Куки в основном используются, чтобы помочь пользователям автоматически заполнить регистрационные данные, или признать текущего пользователя, когда он опять посетит сайт.
            <li><strong>Дополнительная информация</strong>
                - Javascript и другие веб-технологии могут быть использованы, чтобы узнать резолюцию экрана, страну, в которой вы находитесь или другие сведения о вас или о вашем соединение.
            </ul>

            <p>Brain arena собирает, частично или в целом, некоторые или все элементы, указанные выше. Основной целью является создание статистических данных, которые могут помочь нам улучшить сайт обнаруживая популярные страницы или страницы, которые должны быть улучшены.  </p>

            <p>Другие цели включают элементы, касающиеся безопасности сайта или демографии. Кроме того, третьи лица работают с нами для предоставления различных услуг, такие как анализ трафика, рекламные услуги и т.д.; эти третьи лица имеют свою собственную политику и правила, регулирующие конфиденциальность и сбор данных; вы безоговорочно согласны с тем, что этот документ не относится к ним и согласны с условиями и политикой конфиденциальности третьих лиц в отношении информации, собранной непосредственно этими лицами.</p>

            <p>Список игр со временем будет изменяться и дополняться. Администрация имеет право выключить игру из зоны видимостей пользователей, не уведомляя заранее. Все активные сессии выключаемой игры буду завершены со статусом "сдался".</p>

            <p>Иногда мы можем запросить ваш адрес электронной почты для связи или чтобы установить подлиность. У нас есть нулевая терпимость к спаму, и мы оставляем за собой право принять меры в отношении пользователей, которые злоупотребляют нашими услугами чтобы продвигать, поощрять или фактически рассылать спамы.</p>

            <p>Мы оставляем за собой право изменить этот документ в будущем, с уведомлением или без.</p>

            <p>Если у Вас есть вопросы или предложения относительно этого документа, пожалуйста, свяжитесь с нами. Нас интересуют ваши предложения и отзывы.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}